body {
  font-family: sans-serif;
  background-color: #ebebeb;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar h1 {
  display: inline;
}

#navbar div {
  display: inline;
}

#navigation-bar {
  background-color: #227ee7;
  height: 120px;
  border-radius: 25px;
}
