body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar h1 {
  display: inline;
}

#navbar div {
  display: inline;
}

.App {
  background-color: white;
}

.login-form-container, .signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e0e0e0;

}


.text-center{
  cursor: pointer;
}
.switch{
  color:#227ee7;
  margin-left: 10px;
}
.switch:hover{
  color: black;
}
.Auth-form {
  z-index: 2;
  position: absolute;
  left:20%;
  width: 500px;
  box-shadow: rgb(0 0 0 / 100%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.loginbtn {
	border-radius: 20px;
	border: 1px solid #fa9a24;
	background-color: #fa9a24;
  width: 260px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
}

.loginbtn:active {
	transform: scale(0.95);
}

.loginbtn:focus {
	outline: none;
}

.loginbtn.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

input{
  width: 180%;
  padding: 10px 0;
  font-size: 16px;
  color: black  ;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.signup-img {
  height: 670px;
  width: 880px;
  position: absolute;
  left:10%;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 200%) 1px 1px 10px;
  padding-top: 110px;
  padding-bottom: 20px;
  padding-left: 500px;
  border-radius: 8px;
  background-color: #dc8a58;
  
}
.login-img{ 
  height: 670px;
  width: 880px;
  position: absolute;
  left:10%;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 200%) 1px 1px 10px;
  padding-top: 110px;
  padding-bottom: 20px;
  padding-left: 500px;
  border-radius: 8px;
  background-color: #6aa7c3;}